*{
    margin: 0%;
    padding: 0%;
    font-family: nunito;
}

/* p {
    height: min-content;
} */
.outer {
    position: relative;

    background-color: #e4e4e7;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5em;

    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    
}

.header p {
    font-size: 7rem;
}


.main {
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;    
}

.card {
    background-color: #fafafa;
    box-shadow: 3px 3px 3px #a3a3a3;
    min-height: 220px;
    font-family: nunito-bold;

    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 15px;
    padding-top: 15px;
}


.read {
    border-radius: 7px;
    align-self: center;
    border-style: none;
    background-color: black;
    font-size: 1.5rem;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 15px;
    color: #fafafa;
}

.unread {
    background-color: #166534;
    border-radius: 7px;
    align-self: center;
    border-style: none;
    font-size: 1.5rem;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 15px;
    color: #fafafa;

}

.read:hover{
    background-color: #262626;
}

.unread:hover {
    background-color: #047857;
}

#add-book {
    position: fixed;
    bottom: 10%;
    right: 5%;
    border-style: none;
    background-color: inherit;
}


/*dialog*/

#modal {
    position: fixed;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    top: 20%;
    margin-left: auto;
    margin-right: auto;

    border-style: none;
    border-radius: 12px;
    font-family: nunito;

    width: 350px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

#modal::backdrop {
    background: linear-gradient(45deg, red, green);
    opacity: .4;
}

input{
    font-weight: 7px;
    outline-style: none;
    border-radius: 3px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #fed7aa;
}

input:valid{
    border-color: #262626;
}

legend {
    font-size: xx-large;
    margin-bottom: 1em;
    text-align: center;

    margin-top: 2px;
}

#form-div1{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 15px;
    font-size: larger;
}

.footer {
    margin-top: 7em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

@font-face {
    font-family: nunito;
    src: url("NunitoSans-Regular.ttf");
}

@font-face {
    font-family: nunito-bold;
    src: url("NunitoSans-Bold.ttf");
}